
body{
	margin:50px;
	padding:20px; 
}
.box{
	float: left;
	width: 200px;
	height: 300px;
	border: 1px double #CCC7C7;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	background-color: #E4E1E1;

}

span{
	font-size: 50px;
	color: gray;

}
.box:hover{
    transform: scale(1.1);
    transition:-duration: 2s;
    opacity: 0.5;
}
p{
	font-family: 'Tillana', cursiva;

}